# Pearson and Spearman correlation

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
a = np.arange(1,100)

In [69]:
df = pd.DataFrame(a)
df

     0
0    1
1    2
2    3
3    4
4    5
..  ..
94  95
95  96
96  97
97  98
98  99

[99 rows x 1 columns]

## Get covariance

In [70]:
df.cov()

       0
0  825.0

## Get pearson correlation coeficient

In [71]:
df.corr()

     0
0  1.0

## Get Spearman rank correlation coeficient

In [72]:
df.corr(method="spearman")

     0
0  1.0